{% import 'common/roles.j2' as roles %}
{% import 'common/formatting.j2' as fmt %}

{{ roles.tester_role() }}

<problem>
{{ question_content }}
</problem>

<base_test>
The following is a test case candidate:
`{{ language }}
{{ individual }}
`
</base_test>

<task>
1. Verify the correctness of the provided test case.
2. If any issues are found, fix them.
3. Else if no issues are found, generate a new test case that explores different input scenarios or edge cases.
</task>
{{ fmt.test_method_format(language) }}
