{% macro coder_role() %}
<system_role>You are an expert software programmer.</system_role>
{% endmacro %}

{% macro tester_role() %}
<system_role>You are an expert software tester.</system_role>
{% endmacro %}
